@use "../abstracts/variables" as var;

.confirmation {
	background-color: var.$color-white;
	min-height: 100vh;
	padding: var.$spacing-xl var.$spacing-medium;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: var.$spacing-medium;

	@media screen and (min-width: var.$bp-tablet) {
		max-width: var.$width-confirmation-small;
		min-height: 0;
		max-height: var.$width-confirmation-small;
		padding: var.$spacing-xxl;
		border-radius: 36px;
	}

	&--active {
		display: flex;
	}

	&__icon {
		margin-top: 9.375rem;
		margin-bottom: var.$spacing-small;

		@media screen and (min-width: var.$bp-tablet) {
			margin-top: 0;
		}
	}

	&__title {
		font-size: var.$fs-large;
		line-height: 1;
	}

	&__message {
		letter-spacing: 0.5px;
	}

	&__email {
		font-weight: var.$fw-bolder;
	}

	&__button {
		margin-top: auto;
		align-self: stretch;
	}
}
