@use "../abstracts/variables" as var;

.newsletter {
	background-color: var.$color-white;
	display: none;
	flex-direction: column;
	gap: var.$spacing-xl;

	@media screen and (min-width: var.$bp-desktop) {
		width: 100%;
		padding: var.$spacing-medium;
		border-radius: 36px;

		flex-direction: row;
		justify-content: end;
		align-items: center;
		gap: var.$spacing-xxl;
	}

	&--active {
		display: flex;
	}

	&__img {
		background-image: url("/assets/images/illustration-sign-up-mobile.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		width: 100%;
		min-height: 17.5rem;
		max-height: 18.75rem;
		height: auto;
		aspect-ratio: 2 / 1;

		@media screen and (min-width: var.$bp-desktop) {
			align-self: stretch;
			flex: 1;
			order: 1;

			background-image: url("/assets/images/illustration-sign-up-desktop.svg");
			min-height: 37.5rem;
			aspect-ratio: 1 / 2;
			border-radius: 16px;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: var.$spacing-xl;

		@media screen and (min-width: var.$bp-desktop) {
			width: 42.5%;
			margin-left: var.$spacing-xl;
		}
	}

	&__info {
		padding: 0 var.$spacing-medium;

		display: flex;
		flex-direction: column;
		gap: var.$spacing-medium;

		@media screen and (min-width: var.$bp-desktop) {
			padding: 0;
		}
	}

	&__title {
		font-size: var.$fs-large;
		font-weight: var.$fw-bolder;
		line-height: 1;

		@media screen and (min-width: var.$bp-desktop) {
			font-size: var.$fs-extra-large;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}

	&__item {
		position: relative;
		list-style-type: none;

		&::before {
			position: absolute;
			content: url("/assets/images/icon-list.svg");
			left: -35px;
			top: 0.2em;
			width: 1.3125rem;
			height: 1.3125rem;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding: 0 var.$spacing-medium;
		padding-bottom: var.$spacing-medium;

		@media screen and (min-width: var.$bp-desktop) {
			padding: 0;
		}
	}

	&__label-container {
		font-size: var.$fs-small;
		font-weight: var.$fw-bolder;

		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

	&__error {
		visibility: hidden;
		color: var.$color-vermellion;
	}

	&__input {
		padding: var.$spacing-small var.$spacing-medium;
		border: 1px solid var.$color-gray-25;
		border-radius: 8px;
		margin-bottom: var.$spacing-medium;

		&--error {
			color: var.$color-vermellion;
			background-color: rgba(var.$color-vermellion, 0.15);
			border: 1px solid var.$color-vermellion;
		}
	}
}
