// Fonts
$font-primary: "Roboto", sans-serif;
$fs-small: 0.75rem;
$fs-medium: 1rem;
$fs-large: 2.5rem;
$fs-extra-large: 3.5rem;
$fw-lighter: 400;
$fw-bolder: 700;

// Colors
$color-white: #fff;
$color-gray-25: rgba(#19182b, 0.25);
$color-pale-navy: #26384d;
$color-dark-navy: #242742;
$color-vermellion: #ff6155;
$color-gradient-1: #ff6a3a;
$color-gradient-2: #ff527b;

// Effects
$drop-shadow-1: 0 8px 0 0 #000;
$drop-shadow-2: 0 24px 32px 0 rgba(0, 0, 0, 0.1);
$drop-shadow-3: 0 16px 32px 0 rgba($color-vermellion, 0.5);

// Breakpoint
$bp-desktop: 62.5rem;
$bp-tablet: 31.25rem;

// Spacing
$width-confirmation-small: 31.25rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$spacing-xl: 2.5rem;
$spacing-xxl: 4rem;
